<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="dataProvider.Assembly" value="RsdnDataProvider.dll" />
    <add key="dataProvider.Type" value="derIgel.RsdnNntp.RsdnDataProvider" />
    <!--add key="dataProvider.Assembly" value="DbProvider.dll" /-->
    <!--add key="dataProvider.Type" value="derIgel.DbNntp.DataProvider" /-->
    <add key="settings.Assembly" value="RsdnDataProvider.dll" />
    <add key="settings.Type" value="derIgel.RsdnNntp.DataProviderSettings" />
    <!--add key="settings.Assembly" value="DbProvider.dll" /-->
    <!--add key="settings.Type" value="derIgel.DbNntp.DbSettings" /-->
    <add key="settings.ConfigFile" value="config.xml" />
  </appSettings>
</configuration>