<?xml version="1.0" encoding="windows-1251"?>
<configuration>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="dataProvider.Assembly" value="RsdnDataProvider.dll" />
    <add key="dataProvider.Type" value="derIgel.RsdnNntp.RsdnDataProvider" />
    <add key="settings.Assembly" value="RsdnDataProvider.dll" />
    <add key="settings.Type" value="derIgel.RsdnNntp.DataProviderSettings" />
    <add key="settings.ConfigFile" value="config.xml" />
  </appSettings>
</configuration>