<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="dataProvider.Assembly" value="RsdnDataProvider.dll" />
    <add key="dataProvider.Type" value="derIgel.RsdnNntp.RsdnDataProvider" />
    <add key="settings.ConfigFile" value="config.xml" />
  </appSettings>
</configuration>