<?xml version="1.0" encoding="windows-1251"?>
<configuration>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="service.Config" value="config.xml" />
    <add key="timer.Interval" value="5000" />
  </appSettings>
</configuration>