<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="serviceController.MachineName" value="." />
    <add key="serviceController.ServiceName" value="rsdnnntp" />
    <add key="timer.Interval" value="5000" />
    <add key="service.Config" value="config.xml" />
  </appSettings>
</configuration>