<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Name>RSDN.RU</Name>
  <DataProviderTypeName>Rsdn.RsdnNntp.Public.RsdnDataPublicProvider, RsdnDataPublicProvider</DataProviderTypeName>
  <DataProviderSettings xsi:type="RsdnDataPublicProviderSettings">
    <proxySettings />
    <Encoding>windows-1251</Encoding>
  </DataProviderSettings>
  <Bindings>
    <ServerEndPoint>
      <Address>0.0.0.0</Address>
      <Port>119</Port>
    </ServerEndPoint>
  </Bindings>
</Settings>